/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A4256;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0FCFEC
  }

  html{
    scroll-behavior: smooth;
  }

 